@model string

    <div class="container h-100 ">
    <div class="row h-100 d-flex justify-content-center">
            
                <h1>@Model</h1>
                <a asp-controller="Home" asp-action="Index" asp-area=""><h3>Back to main page</h3></a>
        </div>
    </div>

