@model CreateProductVM
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create Slide</h4>

            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Name">
                    <span class="text-danger fs-6 fst-italic" asp-validation-for="Name"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price">Price</label>
                    <input asp-for="Price" class="form-control" placeholder="Price">
                    <span class="text-danger fs-6 fst-italic" asp-validation-for="Price"></span>

                </div>
                <div class="form-group">
                    <label asp-for="SKU">SKU</label>
                    <input asp-for="SKU" class="form-control" placeholder="SKU">
                    <span asp-validation-for="SKU"></span>

                </div>
                <div class="form-group">
                    <label asp-for="CategoryId">Category</label>
                    <select asp-for="CategoryId" class="form-control" asp-items="new SelectList(Model.CategoryList,nameof(Category.Id),nameof(Category.Name))" >
                        <option selected disabled> Choose an option </option>
                    </select>
                    <span class="text-danger fs-6 fst-italic" asp-validation-for="CategoryId"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description">Description</label>
                    <input asp-for="Description" class="form-control" placeholder="Description">
                    <span class="text-danger fs-6 fst-italic" asp-validation-for="Description"></span>

                </div>
                
                




                @* <div class="form-group">
                <label for="exampleTextarea1">Textarea</label>
                <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
                </div> *@
                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <button asp-action="Index" asp-controller="Slide" class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>