@model UpdateProductVM

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create Slide</h4>

            <form class="forms-sample" method="post" enctype="multipart/form-data">

                <div class="form-group">
                    <label asp-for="MainImage">Main Image:</label> <br />
                    <img style="width:150px;height:150px;" src="~/assets/images/website-images/@Model.ProductImages.FirstOrDefault(x=>x.IsPrimary==true)?.Url" />
                    <input asp-for="MainImage" class="form-control">
                    <span class="text-danger fs-6 fst-italic" asp-validation-for="MainImage"></span>
                </div>
                <div class="form-group">

                    <label asp-for="HoverImage">Hover Image:</label> <br />
                    <img style="width:150px;height:150px;" src="~/assets/images/website-images/@Model.ProductImages.FirstOrDefault(x=>x.IsPrimary==false)?.Url" />
                    <input asp-for="HoverImage" class="form-control">
                    <span class="text-danger fs-6 fst-italic" asp-validation-for="HoverImage"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AddImages">Additional Images:</label> <br />
                    <div class=" d-flex">
                    @foreach (var item in Model.ProductImages.Where(x=>x.IsPrimary==null))
                    {
                        <div class="position-relative">
                        <img style="width:150px;height:150px;" src="~/assets/images/website-images/@item.Url" />
                        <input asp-for="ImageIds" type="hidden" value="@item.Id">
                                <button style="right:5px;top:5px;" type="button" class="image-delete btn btn-inverse-danger btn-icon position-absolute"><i class="mdi mdi-close-circle"></i>  </button>
                        </div>

                    }
                    </div>
                    <input asp-for="AddImages" class="form-control">
                    <span class="text-danger fs-6 fst-italic" asp-validation-for="AddImages"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Name">
                    <span class="text-danger fs-6 fst-italic" asp-validation-for="Name"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price">Price</label>
                    <input asp-for="Price" class="form-control" placeholder="Price">
                    <span class="text-danger fs-6 fst-italic" asp-validation-for="Price"></span>

                </div>
                <div class="form-group">
                    <label asp-for="SKU">SKU</label>
                    <input asp-for="SKU" class="form-control" placeholder="SKU">
                    <span asp-validation-for="SKU"></span>

                </div>
                <div class="form-group">
                    <label asp-for="CategoryId">Category</label>
                    <select asp-for="CategoryId" class="form-control" asp-items="new SelectList(Model.CategoryList,nameof(Category.Id),nameof(Category.Name))">
                    </select>
                    <span class="text-danger fs-6 fst-italic" asp-validation-for="CategoryId"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TagIds">Tags:</label>
                    <select asp-for="TagIds" class="form-control" asp-items="new SelectList(Model.TagList,nameof(Tag.Id),nameof(Tag.Name))">
                    </select>
                    <span class="text-danger fs-6 fst-italic" asp-validation-for="TagIds"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EditionIds">Editions:</label>
                    <select asp-for="EditionIds" class="form-control" asp-items="new SelectList(Model.EditionList,nameof(Edition.Id),nameof(Edition.Name))">
                    </select>
                    <span class="text-danger fs-6 fst-italic" asp-validation-for="EditionIds"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PlatformIds">Platforms:</label>
                    <select asp-for="PlatformIds" class="form-control" asp-items="new SelectList(Model.PlatformList,nameof(Platform.Id),nameof(Platform.Name))">
                    </select>
                    <span class="text-danger fs-6 fst-italic" asp-validation-for="PlatformIds"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description">Description</label>
                    <input asp-for="Description" class="form-control" placeholder="Description">
                    <span class="text-danger fs-6 fst-italic" asp-validation-for="Description"></span>

                </div>






                @* <div class="form-group">
                <label for="exampleTextarea1">Textarea</label>
                <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
                </div> *@
                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <button asp-action="Index" asp-controller="Product" class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>


@section ImageScript{
    <script>
        var btns = document.querySelectorAll(".image-delete")
        btns.forEach(b => {
            b.addEventListener("click", function () {
                b.parentElement.remove();
            })
        })
    </script>
}
