@model Platform
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create Platform</h4>

            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label asp-for="Name">Platform name:</label>
                    <input asp-for="Name" class="form-control mb-3" placeholder="Name">
                    <span asp-validation-for="Name" class="text-danger fs-6 fst-italic"></span>
                </div>

                <button type="submit" class="btn btn-primary me-2 text-white">Submit</button>
                <a asp-action="index" class="btn btn-light">Cancel</a>
            </form>
        </div>
    </div>
</div>